
.container {
    display: flex;
    margin-top: 0px;
    background-color: rgb(230, 16, 230);
    height: 50px;
    align-items:center;
    border: none;
    padding: 0px 30px;
    list-style-type: none;
    color: white;

    li {
        width: 100px;
        margin: 0px 10px;
        transition: none;
        &:hover {
            border: 2px solid purple;
        }

        &:nth-child(4) {
            border: 2px solid white;
            padding: 5px;
            border-radius: 10px;

            &:hover {
                background-color: purple;
            }
        }

        &:hover {
            border: 2px solid white;
            padding: 5px;
            border-radius: 10px;
        }
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    a {
        font-size: 16px;
    }
}