@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Light.woff2') format('woff2'),
      url('./fonts/Quicksand-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  overflow-x: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Quicksand';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 13px;
}
